@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.ParticipantPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">SEC ALUMNI</h3>

        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New Alumni</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            FULLNAME
                        </th>
                        <th>
                            SPONSOR
                        </th>
                        <th>
                            PHONE
                        </th>
                        <th>
                            EMAIL
                        </th>
                        <th>SEC YEAR</th>
                        <th></th>
                    </tr>
                </thead>
                @{int sn = 0;}
                <tbody>
                    @foreach (var item in Model.Participants)
                    {
                        <tr>
                            <td>
                                @{sn++;}
                                @sn
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Title)
                                @Html.DisplayFor(modelItem => item.Surname)
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.OtherName)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sponsor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                SEC @Html.DisplayFor(modelItem => item.SEC.Number) (@Html.DisplayFor(modelItem => item.SEC.Year))
                            </td>
                           
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                             @*<a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>*@
                                        @*<a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

