@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.ParticipantPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@TempData["data"]</h3>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-page="./Add" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New Alumni</a>
        }
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">

                <!-- === NEW: Simplified Filter Buttons === -->
                @*<a asp-page="./Index" class="btn btn-primary">
                    TOTAL USERS (@Model.TotalUsers)
                </a>

                <a asp-page="./Index" asp-route-filter="active" class="btn btn-success">
                    ACTIVE USERS (@Model.ActiveUsers)
                </a>

                <a asp-page="./Index" asp-route-filter="last_seen" class="btn btn-info">
                    LAST SEEN 1 MONTH AGO (@Model.LastSeen1Month)
                </a>*@

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                 <thead>
                     <tr>
                         <th>S/N</th>
                         <th>FULLNAME</th>
                         <th>PHONE</th>
                         <th>GENDER</th>
                         <th>EMAIL/USERNAME</th>
                         <th>STATUS</th>
                         <th>ROLE</th>

                         <th>SEC</th>
                         <th></th>

                     </tr>
                </thead>
                @{int sn = 0;}
                <tbody>
                    @foreach (var item in Model.Participants.OrderBy(x=>x.Title))
                    {
                        <tr>
                            <td>
                                @{sn++;}
                                @sn
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                    @item.Fullname
                                </a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.GenderStatus)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email) /
                                @Html.DisplayFor(modelItem => item.UserName)

                            </td>
                            <td>@Html.DisplayFor(modelItem => item.UserStatus)</td>
                            <td>@Html.DisplayFor(modelItem => item.Role)</td>
                            <td>
                                SEC @Html.DisplayFor(modelItem => item.SEC.Number) (@Html.DisplayFor(modelItem => item.SEC.Year))
                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="dropdown-item" asp-page="./UpdateIDCard" asp-route-id="@item.Id">Update ID Card</a>
                                            <a class="dropdown-item" asp-page="./IDCardQrCode" asp-route-id="@item.Id">View ID Data</a>
                                            <a class="dropdown-item" asp-page="./ResetPassword" asp-route-id="@item.Id">Reset Password</a>
                                            <a class="dropdown-item" asp-page="./UpdateMNI" asp-route-id="@item.Id">Update MNI</a>
                                            <a class="dropdown-item" asp-page="./SendResetAccount" asp-route-id="@item.Id">Send Reset Account</a>

                                            
                                        </div>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>