@page
@model Exwhyzee.AANI.Web.Areas.Datapage.Pages.Account.BirthdayCelebrationModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@TempData["date"] </h3>

    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <form method="get">

                    <div class="input-group input-group-sm" style="margin-bottom:7px;">

                        <input type="date" name="searchdate" class="form-control" required="required" placeholder="@TempData["date"]">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-success btn-flat">Search by Date</button>
                        </span>
                    </div>
                </form>

            </div>
            <div class="col-lg-4">
                <form method="get">

                    <div class="input-group input-group-sm" style="margin-bottom:7px;">

                        <select name="month" class="form-control" required="required">
                            <option value="">Choose Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-flat">Search by Month</button>
                        </span>
                    </div>
                </form>

            </div>
        </div>
            <div class="row">

                <div class="col-lg-12">

                    <!-- small box -->
                    <a asp-page="./BirthdayCelebration" asp-route-searchdate="@Model.D1" class="btn btn-primary">
                        @Model.V1
                    </a>

                    <a asp-page="./BirthdayCelebration" asp-route-searchdate="@Model.D2" class="btn btn-warning">
                        @Model.V2
                    </a>

                    <a asp-page="./BirthdayCelebration" asp-route-searchdate="@Model.D3" class="btn btn-danger">
                        @Model.V3
                    </a>

                    <a asp-page="./BirthdayCelebration" asp-route-searchdate="@Model.D4" class="btn btn-success">
                        @Model.V4
                    </a>

                    <a asp-page="./BirthdayCelebration" asp-route-searchdate="@Model.D5" class="btn btn-info">
                        @Model.V5
                    </a>
                    <a asp-page="./BirthdayCelebration" asp-route-alldate="loadall" class="btn btn-danger">
                        All
                    </a>
                </div>
            </div>



        </div>
        <!-- ./col -->
     
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            FULLNAME
                        </th>
                        <th>
                            OFFICE
                        </th>
                        <th>DOB</th>

                        <th>SEC YEAR</th>

                    </tr>
                </thead>
                @{int sn = 0;}
                <tbody>
                    @foreach (var item in Model.Participants)
                    {
                        <tr>
                            <td>
                                @{sn++;}
                                @sn
                            </td>
                            <td>
                                <a asp-page="./MemberDetails" asp-route-id="@item.Id" class="uppercase-text">

                                    @Html.DisplayFor(modelItem => item.Surname)
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                    @Html.DisplayFor(modelItem => item.OtherName)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sponsor)
                            </td>
                            <td>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-page="./UpdateDob" asp-route-id="@item.Id">
                                        @item.DOB.ToString("dd MMM")
                                    </a>
                                   
                                }
                                else
                                {
                                    @item.DOB.ToString("dd MMM")
                                }
                            </td>

                            <td>
                                SEC @Html.DisplayFor(modelItem => item.SEC.Number) (@Html.DisplayFor(modelItem => item.SEC.Year))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>