@page "campaigns/{yearId:long}"
@model Exwhyzee.AANI.Web.Areas.Datapage.Pages.Account.CampainPageModel

@{
    ViewData["Title"] = $"Campaigns for {Model.CurrentCampainYear?.Name}";
}

@{
    string[] colors = { "bg-primary", "bg-secondary", "bg-success", "bg-danger", "bg-warning", "bg-info", "bg-dark" };
    var random = new Random();
}

<section class="content" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">ELECTORAL POSITIONS FOR @Model.CurrentCampainYear.Name</h3>
            @if (User.IsInRole("Admin"))
            {
                <a asp-page="./CampaignYears" class="btn btn-xs btn-secondary mb-2 float-right"><i class="fas fa-arrow-left"></i> Back to Years</a>

            }
        </div>
      
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var item in Model.ExecutivePosition)
                    {
                        var color = colors[item.Id % colors.Length]; // More stable color selection
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a asp-page="./Contestants" asp-route-yearId="@Model.CurrentYearId" asp-route-positionId="@item.Id" class="small-box-footer">
                                <div class="small-box @color" style="margin-bottom: 7.5px;margin-top: 7.5px;">
                                    <div class="inner">
                                        <h3 style="white-space: normal; text-align: center; font-size: 1.2rem; margin: auto;">
                                            @item.Position (@item.Campains.Count())
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>