@page
@model Exwhyzee.AANI.Web.Areas.Datapage.Pages.Account.MembersModel
@{


}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            @TempData["datax"] @TempData["data"]


        </h3>
        <div class="hidden-sm hidden-xs">
            <a href="javascript:history.back()" class="btn bg-gradient-warning btn-xs" style="float: right; font-size: .775rem;">Back</a>

        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-lg-12">

                <!-- small box -->
                <a asp-page="./Members" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-primary">
                    TOTAL MEMBERS (@Model.AllAlumni)
                </a>

                <a asp-page="./Members" asp-route-aliveStatus="@Exwhyzee.AANI.Domain.Enums.AliveStatus.Alive" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-warning">
                    TOTAL ALIVE (@Model.Alive)
                </a>

                <a asp-page="./Members" asp-route-aliveStatus="@Exwhyzee.AANI.Domain.Enums.AliveStatus.Dead" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-danger">
                    TOTAL DEAD (@Model.Dead)
                </a>
                @if (Model.GenderQuery == 1)
                {
                    <a asp-page="./Members" asp-route-genderStatus="@Exwhyzee.AANI.Domain.Enums.GenderStatus.Male" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-success">
                        TOTAL MALE (@Model.Male)
                    </a>
                }
                else if (Model.GenderQuery == 2)
                {
                    <a asp-page="./Members" asp-route-genderStatus="@Exwhyzee.AANI.Domain.Enums.GenderStatus.Female" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-info">
                        TOTAL FEMALE (@Model.Female)
                    </a>
                }
                else
                {
                    <a asp-page="./Members" asp-route-genderStatus="@Exwhyzee.AANI.Domain.Enums.GenderStatus.Male" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-success">
                        TOTAL MALE (@Model.Male)
                    </a>
                    <a asp-page="./Members" asp-route-genderStatus="@Exwhyzee.AANI.Domain.Enums.GenderStatus.Female" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-info">
                        TOTAL FEMALE (@Model.Female)
                    </a>
                }

                <a asp-page="./Members" asp-route-userStatus="@Exwhyzee.AANI.Domain.Enums.UserStatus.Active" asp-route-secid="@Model.SecId" asp-route-chapterid="@Model.ChapterId" class="btn btn-warning">
                    TOTAL ACTIVE (@Model.Active)
                </a>
            </div>
        </div>
        <!-- ./col -->


    </div>
    <!-- /.card-header -->
    @if (Model.IsChapter)
    {
        <div class="card direct-chat direct-chat-primary">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">Chapter Executive</h3>
                <div class="card-tools">

                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Fullname</th>
                            <th>Position</th>
                            <th>Work Place</th>
                            <th>Position</th>
                            <th>SEC</th>
                            <th>Last Login</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int snx = 0;}


                        @foreach (var list in Model.ChapterExecutives)
                        {
                            <tr>
                                <td>
                                    @{snx++;}
                                    @snx
                                </td>
                                <td>
                                    <a asp-page="./MemberDetails" asp-route-id="@list.ParticipantId" class="uppercase-text">

                                        @Html.DisplayFor(modelItem => list.Participant.Fullname)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => list.Position)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => list.Participant.CurrentWorkPlace)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => list.Participant.CurrentPosition)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => list.Participant.SEC.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => list.Participant.LastLogin)
                                </td>
                                <td>
                                    <form method="post" asp-page="./UpdateChapterAccount" asp-page-handler="Edit" asp-route-chapterId="@list.ChapterId" style="display:inline;">
                                        <button type="submit" class="btn btn-primary btn-xs">Update Position</button>
                                    </form>
                                    <form method="post" asp-page="./UpdateChapterAccount" asp-page-handler="Delete" asp-route-chapterId="@list.ChapterId" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-xs">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }

    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            FULLNAME
                        </th>
                        <th>
                            EMAIL
                        </th>
                        <th>SEC YEAR</th>
                        <th>WORK PLACE</th>
                        <th>
                            POSITION
                        </th>



                        <th>CHAPTER</th>
                        <th>LAST LOGIN</th>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <th>Reset</th>
                            <th></th>
                        }
                    </tr>
                </thead>
                @{int sn = 0;}
                <tbody>
                    @foreach (var item in Model.Participants.OrderBy(v=>v.Title))
                    {
                        <tr>
                            <td>
                                @{sn++;}
                                @sn
                            </td>
                            <td>
                                <a asp-page="./MemberDetails" asp-route-id="@item.Id" class="uppercase-text">

                                    @Html.DisplayFor(modelItem => item.Fullname)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                SEC @Html.DisplayFor(modelItem => item.SEC.Number) (@Html.DisplayFor(modelItem => item.SEC.Year))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentWorkPlace)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentPosition)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Chapter.State)
                            </td>
                           
                            <td>
                                @{
                                    DateTime? last = item.LastLogin; // DateTime?
                                    var cutoff = DateTime.UtcNow.AddYears(-1);
                                }
                                @if (!last.HasValue || last.Value == DateTime.MinValue)
                                {
                                    <span>No record</span>
                                }
                                else if (last.Value < cutoff)
                                {
                                    <span>Last year</span>
                                }
                                else
                                {
                                    <!-- show formatted date (or use DisplayFor) -->
                                    <span>@last.Value.ToString("yyyy-MM-dd")</span>
                                }

                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                    @if (item.SendResetAccount)
                                    {

                                        <span class="btn btn-xs bg-success">Sent</span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-xs bg-primary">Not Sent</span>

                                    }
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Action</button>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" style="">

                                                <a class="dropdown-item" asp-page="./UpdateAccount" asp-route-id="@item.Id">Update Account</a>
                                                @if (Model.IsChapter)
                                                {
                                                    <a class="dropdown-item" asp-page="./UpdateChapterAccount" asp-route-chapterId="@item.ChapterId">Update Chapter Position</a>

                                                }
                                                <a class="dropdown-item" asp-page="/ParticipantPage/SendResetAccount" asp-area="Main" asp-route-id="@item.Id">Send Reset Account</a>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

