@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.Funding.FundPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fund</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.Participant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.Participant.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.DatePaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.DatePaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.FundStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.Event.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.FundCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundCategory.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fund.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
