@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.SecFamilies.SubCategory.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">SEC FAMILY MEMBERS FOR @Model.SubCategoryFamiliesOnSEC.Title</h3>

        <a asp-page="/SecFamilies/ParticipantMember/Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New Family Member</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Alumni
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ParticipantFamiliesOnSEC[0].Date)
                        </th>
                       
                        <th></th>
                    </tr>
                </thead>  @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.ParticipantFamiliesOnSEC)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Participant.Fullname) (SEC @Html.DisplayFor(modelItem => item.Participant.SEC.Number) - @Html.DisplayFor(modelItem => item.Participant.SEC.Year))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="/SecFamilies/ParticipantMember/Edit" asp-route-id="@item.Id">Edit</a>

                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>