@page
@model Exwhyzee.AANI.Web.Areas.Admin.Pages.Dashboard.MembersModel
@{

    
    }  

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@TempData["data"]</h3>

    </div>   
    <div class="card-body">
                  <div class="row">

                      <div class="col-lg-12">

                          <!-- small box -->
                          <a asp-page="./Members" class="btn btn-primary">
                              TOTAL MEMBERS (@Model.AllAlumni)
                          </a>

                          <a asp-page="./Members" asp-route-aliveStatus="@Exwhyzee.AANI.Domain.Enums.AliveStatus.Alive" class="btn btn-warning">
                              TOTAL ALIVE (@Model.Alive)
                          </a>

                          <a asp-page="./Members" asp-route-aliveStatus="@Exwhyzee.AANI.Domain.Enums.AliveStatus.Dead" class="btn btn-danger">
                              TOTAL DEAD (@Model.Dead)
                          </a>

                          <a asp-page="./Members" asp-route-genderStatus="@Exwhyzee.AANI.Domain.Enums.GenderStatus.Male" class="btn btn-success">
                              TOTAL MALE (@Model.Male)
                          </a>

                          <a asp-page="./Members" asp-route-genderStatus="@Exwhyzee.AANI.Domain.Enums.GenderStatus.Female" class="btn btn-info">
                              TOTAL FEMALE (@Model.Female)
                          </a>

                          <a asp-page="./Members" asp-route-userStatus="@Exwhyzee.AANI.Domain.Enums.UserStatus.Active" class="btn btn-warning">
                              TOTAL ACTIVE (@Model.Active)
                          </a>
                      </div>
                  </div>
            <!-- ./col -->


        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>
                                FULLNAME
                            </th>
                            <th>
                                SPONSOR
                            </th>
                            <th>
                                PHONE
                            </th>
                            <th>
                                EMAIL
                            </th>

                            <th>SEC YEAR</th>

                        </tr>
                    </thead>
                    @{int sn = 0;}
                    <tbody>
                        @foreach (var item in Model.Participants.OrderBy(v => v.Title))
                        {
                            <tr>
                                <td>
                                    @{sn++;}
                                    @sn
                                </td>
                                <td>
                                    <a asp-page="./MemberDetails" asp-route-id="@item.Id" class="uppercase-text">
                                        @Html.DisplayFor(modelItem => item.Title)
                                        @Html.DisplayFor(modelItem => item.Surname)
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                        @Html.DisplayFor(modelItem => item.OtherName)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sponsor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                <td>
                                    SEC @Html.DisplayFor(modelItem => item.SEC.Number) (@Html.DisplayFor(modelItem => item.SEC.Year))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

