@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.BlogNews.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"> BLOG DETAILS</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.SortOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.SortOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Date)
        </dd>
    </dl>

  <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
        <a asp-page="./Edit" class="btn bg-gradient-warning btn-sm" asp-route-id="@Model.Blog.Id">Edit</a> |

                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

            </div>
    </div>

    <div class="card-footer">
    </div>
</div>