@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.Dashboard.IndexModel
@{
}
<style>
    .small-box p {
        font-size: 1.7rem;
        font-weight: 900;
    }
</style>
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.AllAlumni</h3>

                <p>ALL ALUMNI</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.Male</h3>

                <p>MALE</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.Female</h3>

                <p>FEMALE</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
</div>


@*<div class="row">
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.MNI</h3>

                <p>MNI</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-light-blue">
            <div class="inner">
                <h3>@Model.Attended</h3>

                <p>ATTENDED</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-navy">
            <div class="inner">
                <h3>@Model.NON</h3>

                <p>NON MNI</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
</div>

<div class="row">
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-lime">
            <div class="inner">
                <h3>@Model.Chapter</h3>

                <p>CHAPTERS</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>@Model.Nec</h3>

                <p>N E C</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-yellow-active">
            <div class="inner">
                <h3>@Model.Contributor</h3>

                <p>CONTRIBUTORS</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
</div>


<div class="row">
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-aqua-active">
            <div class="inner">
                <h3>@Model.Events</h3>

                <p>EVENTS</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.Awaiting</h3>

                <p>AWAITING</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-fuchsia">
            <div class="inner">
                <h3>@Model.Closed</h3>

                <p>CLOSED</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
</div>

<div class="row">
    <div class="col-lg-6 col-6">
       
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.Papers</h3>

                <p>PAPERS</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-6 col-6">
       
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.Secfamily</h3>

                <p>SEC FAMILIES</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
   
</div>

<div class="row">
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.Patrons</h3>

                <p>PATRONS</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>@Model.MalePatron</h3>

                <p>MALE</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
    <div class="col-lg-4 col-6">
       
        <div class="small-box bg-navy">
            <div class="inner">
                <h3>@Model.FemalePatron</h3>

                <p>FEMALE</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
   
   
</div>*@




