@page
@model Exwhyzee.AANI.Web.Pages.Media.NewsModel

@{
    ViewData["Title"] = "News";
}

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI NEWS UPDATE</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI NEWS UPDATE</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 col-6">
            </div>
            <div class="col-md-4 col-sm-12 col-6">

                <form asp-page="/Media/News" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchString" placeholder="@Model.CurrentFilter" style="border: 2px solid #d21e2b;">
                        <div class="input-group-btn">
                            <button class="btn btn-default btnn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <p style="text-align:center;">
                    <i>Page Number (@Model.PageIndex of @Model.TotalPage)</i>
                </p>
            </div>
        </div>
        <hr />
        <div class="clearfix"></div>
        @foreach (var x in Model.Blog)
        {
            <div class="blog-list-simple boxed-div" style="">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-12">
                        <div class="blog-list-simple-img">
                            <img src="@x.Image" alt="img">
                            <div class="data-box-simple">

                                <h4>@x.Date.ToString("dd")</h4>
                                <p>@x.Date.ToString("MMM")</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-12">
                        <div class="blog-list-simple-text">
                            <span>NEWS</span>
                            <a asp-page="./ReadMore" asp-route-id="@x.Id" asp-route-title="@x.Title.Replace(",", "-").Replace(".", "-").Replace("&", "-").Replace(" ", "-").Replace("@", "-")">
                                <h4>@x.Title</h4>
                            </a>
                            <ul>


                                <li><i class="fa fa-envelope"></i>AANI Secetary</li>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    @await Component.InvokeAsync("DateAgo", new{date = x.Date})
                                   
                                </li>
                            </ul>
                            <p>
                                @x.ShortDescription
                            </p>
                            <div class="mt-20 left-holder">
                                <a asp-page="./ReadMore" asp-route-id="@x.Id" asp-route-title="@x.Title.Replace(",", "-").Replace(".", "-").Replace("&", "-").Replace(" ", "-").Replace("@", "-")" class="primary-button button-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @{
            var prevDisabled = !Model.Blog.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Blog.HasNextPage ? "disabled" : "";
        }
        <hr />

        <a asp-page="/Media/News"
           asp-route-pageIndex="@(Model.Blog.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="primary-button button-sm mb-15-xs @prevDisabled">
            Previous
        </a>
        <a asp-page="/Media/News"
           asp-route-pageIndex="@(Model.Blog.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="primary-button button-sm mb-15-xs @nextDisabled">
            Next
        </a>
        <i>Page Number (@Model.PageIndex of @Model.TotalPage)</i>
    </div>
</div>