@page
@model Exwhyzee.AANI.Web.Pages.AlumniPage.FamiliesModel
@{
}

<style>
    .text {
        margin-top: 0px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        height: none
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .feature-box-4-icon i {
        color: #d21e2b;
        font-size: 20px;
        font-weight: 900;
    }
    .feature-box-4-icon {
        flex: 0 0 30px;
    }
</style>

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI FAMILIES</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI FAMILIES</a></li>
        </ul>
    </div>
</div>


<div class="section-block">
    <div class="container">
        <div class="section-heading">
            <h4>THE FAMILIES ON SENIOR EXECUTIVE COURSE ALUMNI</h4>
         </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">

                <div class="row">
                    @{ int sn = 0;}
                    @foreach (var x in Model.CategoryFamiliesOnSEC)
                    {
                        {
                            sn++;
                        }
                        <div class="col-md-6 col-sm-12 col-6">
                            <div class="boxed-div feature-box-4" style="border-top: 3px solid #d21e2b08;">
                                <div class="feature-box-4-icon">
                                    <i class="fa">@sn</i>
                                </div>
                                <div class="feature-box-4-content">
                                    <a asp-page="/Dashboard/Familiesonaani" asp-area="Alumni" asp-route-chapterid="@x.Id">
                                        <h4 style="text-transform:uppercase;">@x.Title</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        @*<div class="panel panel-grey accordion">
                    <div class="panel-heading accordion-heading" role="tab" id="acc1">
                        <h4 class="panel-title accordion-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#ac_col1_@x.Title.Replace(" ", "")" aria-expanded="true" aria-controls="ac_col1_@x.Title.Replace(" ", "")">
                                @x.Title
                            </a>
                        </h4>
                    </div>
                    <div id="ac_col1_@x.Title.Replace(" ", "")" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="acc1">
                        <div class="panel-body accordion-body">
                            @foreach (var n in x.SubCategories)
                            {
                                <div class="col-md-12 col-sm-12 col-12" style="margin-bottom:10px;">
                                    <div class="serv-section-2" style="box-shadow: 2px 2px 2px 2px #333333;">
                                        <div class="serv-section-2-icon">
                                            <i class="icon-checked"></i>
                                        </div>
                                        <div class="serv-section-desc">
                                            <h4> @n.Title</h4>
                                        </div>
                                        <div class="section-heading-line-left"></div>
                                        <h4 style="font-size:13px;">Alumni Member</h4>
                                        @foreach (var p in n.ParticipantFamiliesOnSECs)
                                        {
                                            <p class="text">
                                                @p.Participant.Fullname (SEC @p.Participant.SEC.Number - @p.Participant.SEC.Year)
                                            </p>
                                        }
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>*@

                    }
                     
            </div>
            </div>
        </div>
    </div>
</div>




