@using Exwhyzee.AANI.Web.Helper.BaseHelper;
@inject IBaseModel BaseModel;
@{

    var dataConfig = await BaseModel.GetConfigAsync();
}
<!DOCTYPE html>

<!-- saved from url=(0032) -->

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AANI - Alumni Association of The National Institute - @ViewData["Title"]</title>
    <meta property="og:site_name" content="@ViewData["Title"]">
    <meta property="og:title" content="@ViewData["PageName"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" itemprop="image" content="@ViewData["Image"]">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="@DateTime.UtcNow.AddHours(1)" />
    <link rel="shortcut icon" href="~/img/icon.jpg" />

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com/">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">




    <link rel="stylesheet" href="~/layout2025new/bootstrap.min.css">

    <link rel="stylesheet" href="~/layout2025new/animate.min.css">

    <link rel="stylesheet" href="~/layout2025new/custom-animate.css">

    <link rel="stylesheet" href="~/layout2025new/swiper.min.css">

    <!-- Latest Font Awesome (v6.x) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">


    <link rel="stylesheet" href="~/layout2025new/jarallax.css">

    <link rel="stylesheet" href="~/layout2025new/jquery.magnific-popup.css">

    <link rel="stylesheet" href="~/layout2025new/odometer.min.css">

    <link rel="stylesheet" href="~/layout2025new/flaticon.css">

    <link rel="stylesheet" href="~/layout2025new/owl.carousel.min.css">

    <link rel="stylesheet" href="~/layout2025new/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/layout2025new/nice-select.css">

    <link rel="stylesheet" href="~/layout2025new/jquery-ui.css">



    <link rel="stylesheet" href="~/layout2025new/slider.css">

    <link rel="stylesheet" href="~/layout2025new/footer.css">

    <link rel="stylesheet" href="~/layout2025new/about.css">

    <link rel="stylesheet" href="~/layout2025new/service.css">

    <link rel="stylesheet" href="~/layout2025new/why-choose.css">

    <link rel="stylesheet" href="~/layout2025new/testimonial.css">

    <link rel="stylesheet" href="~/layout2025new/case.css">

    <link rel="stylesheet" href="~/layout2025new/counter.css">

    <link rel="stylesheet" href="~/layout2025new/team.css">

    <link rel="stylesheet" href="~/layout2025new/pricing.css">

    <link rel="stylesheet" href="~/layout2025new/process.css">

    <link rel="stylesheet" href="~/layout2025new/sliding-text.css">

    <link rel="stylesheet" href="~/layout2025new/video.css">

    <link rel="stylesheet" href="~/layout2025new/brand.css">

    <link rel="stylesheet" href="~/layout2025new/blog.css">

    <link rel="stylesheet" href="~/layout2025new/faq.css">

    <link rel="stylesheet" href="~/layout2025new/skill.css">

    <link href="~/layout2025new/page-header.css" rel="stylesheet" />

    <link href="~/layout2025new/feature.css" rel="stylesheet" />
    <!-- template styles -->

    <link rel="stylesheet" href="~/layout2025new/style.css">

    <link rel="stylesheet" href="~/layout2025new/responsive.css">

    <link href="~/css/majorstyle.css" rel="stylesheet" />


    <style type="text/css" id="jarallax-clip-0">
        #jarallax-container-0 {
            clip: rect(0 1790.4000244140625px 530px 0);
            clip: rect(0, 1790.4000244140625px, 530px, 0);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    </style>

    <style type="text/css" id="jarallax-clip-1">
        #jarallax-container-1 {
            clip: rect(0 1790.4000244140625px 687.7125244140625px 0);
            clip: rect(0, 1790.4000244140625px, 687.7125244140625px, 0);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    </style>


    <style>
        @@keyframes marqueeAnimation-7014309 {
            100% {
                transform: translateX(-2862.45px)
            }
        }

        .main-menu .main-menu__list > li.dropdown > a:after {
            position: absolute;
            top: 56%;
            right: 0;
            font-family: "Font Awesome 6 Free"; /* 👈 Updated */
            content: "\f107"; /* This icon still exists in FA6 (angle-down) */
            font-size: 14px;
            color: var(--judges-black);
            transform: translateY(-50%);
            font-weight: 900; /* Font Awesome 6 Free solid icons use 900 */
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            z-index: 1;
        }

        .main-menu__logo img {
            height: 50px;
        }

        .icon-outline {
            font-size: 2rem; /* Adjust size */
            color: transparent; /* Remove solid fill */
            -webkit-text-stroke: 2px #1b4d3e; /* Outline color and thickness */
            text-stroke: 2px #1b4d3e; /* For browsers that support it */
        }

        .section-title__title {
            font-size: 30px;
        }
        .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
            
            color: #dfdfdf !important;
            
            background-color: #265430 !important;
        }

        .custom-blog-01 .blog-one__img img {
            width: 100%;
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .custom-blog-01 .blog-one__title {
            font-size: 19px;
            line-height: 1.24em;
            text-transform: capitalize;
            margin-top: 15px;
            margin-bottom: 14px;
            font-weight: 700;
        }
        .custom-blog-01 .blog-one__title {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 0.7rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            line-height: 1.25em;
            max-height: calc(3 * 1.25em); /* 3 lines */
        }

        .custom-blog-01 .blog-one__text {
            font-size: 1rem;
            color: #555;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            line-height: 1.45em;
            max-height: calc(5 * 1.45em); /* 5 lines */
            margin-bottom: 0;
        }
        .custom-blog-01 .blog-one__title {
            height: 85px;
        }
        .custom-blog-01 .blog-one__text {
            height: 118px;
        }
        .custom-blog-01 .blog-one__date span {
            background-color: var(--judges-base);
            color:white;
        }
        .sliding-text-one__title {
             
            text-transform: unset;
        }
        .main-menu .main-menu__list > li > ul > li > a::before, .main-menu .main-menu__list > li > ul > li > ul > li > a::before, .stricky-header .main-menu__list > li > ul > li > a::before, .stricky-header .main-menu__list > li > ul > li > ul > li > a::before {
            
            color: transparent;
            
        }
        .main-menu .main-menu__list > li > a::before, .stricky-header .main-menu__list > li > a::before {
            
            background-color: transparent;
          
        }
    </style>
    <style>
        @Html.Raw(dataConfig.CSSStyle)
    </style>
</head>


<body class="custom-cursor" style="">



    <div id="preloader" style="display: none;">

        <div class="preloader">

            <span>
            </span>

            <span>
            </span>

        </div>

    </div>




    <div class="page-wrapper">
        @await Html.PartialAsync("_MenuSections")

        <!-- /.stricky-header -->
        @RenderBody()
        <!--Site Footer Start-->


        @await Html.PartialAsync("_FooterSections")


        <!--Site Footer End-->

        <a href="#" data-target="html" class="scroll-to-target scroll-to-top show">

            <span class="scroll-to-top__wrapper">
                <span class="scroll-to-top__inner" style="width: 69.4108%;">
                </span>
            </span>

            <span class="scroll-to-top__text">
                Go Back Top
            </span>

        </a>

        <script src="~/layout2025new/jquery-latest.js"></script>

        <script src="~/layout2025new/bootstrap.bundle.min.js"></script>

        <script src="~/layout2025new/jarallax.min.js"></script>

        <script src="~/layout2025new/jquery.ajaxchimp.min.js"></script>

        <script src="~/layout2025new/jquery.appear.min.js"></script>

        <script src="~/layout2025new/swiper.min.js"></script>

        <script src="~/layout2025new/knob.js"></script>

        <script src="~/layout2025new/jquery.magnific-popup.min.js"></script>

        <script src="~/layout2025new/jquery.validate.min.js"></script>

        <script src="~/layout2025new/odometer.min.js"></script>

        <script src="~/layout2025new/wNumb.min.js"></script>

        <script src="~/layout2025new/wow.js"></script>

        <script src="~/layout2025new/isotope.js"></script>

        <script src="~/layout2025new/owl.carousel.min.js"></script>

        <script src="~/layout2025new/jquery-ui.js"></script>

        <script src="~/layout2025new/jquery.circleType.js"></script>

        <script src="~/layout2025new/jquery.lettering.min.js"></script>

        <script src="~/layout2025new/jquery.fittext.js"></script>

        <script src="~/layout2025new/jquery.nice-select.min.js"></script>

        <script src="~/layout2025new/marquee.min.js"></script>

        <script src="~/layout2025new/jquery-sidebar-content.js"></script>

        <script src="~/layout2025new/jquery.event.move.js"></script>


        <script src="~/layout2025new/ScrollTrigger.js"></script>

        <script src="~/layout2025new/SplitText.js"></script>

        <script src="~/layout2025new/script.js"></script>
        @RenderSection("Scripts", required: false)


        <script>


            if ($(".marquee_mode").length) {
                $('.marquee_mode').marquee({
                    speed: 30,
                    gap: 0,
                    delayBeforeStart: 0,
                    direction: 'left',
                    duplicated: true,
                    pauseOnHover: true,
                    startVisible: true
                });
            }

        </script>
        <script>
            $(document).ready(function () {
                $('.team-one__carousel').owlCarousel({
                    loop: true,
                    margin: 30,
                    nav: true,
                    dots: false,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    smartSpeed: 800,
                    responsive: {
                        0: { items: 1 },
                        600: { items: 2 },
                        1000: { items: 5 }   // ✅ show 5 items
                    }
                });
            });
        </script>


    </div>
</body>
 
</html>