@page
@model Exwhyzee.AANI.Web.Pages.PaperListModel
@{
}

<style>
    .feature-box-4 {
        position: relative;
        background: #fff;
        display: flex;
        border-top: 3px solid #d21e2b00;
        overflow: hidden;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
        padding: 10px;
        margin: 15px 0;
    }

    .feature-box-4-icon {
        flex: 0 0 30px;
    }

        .feature-box-4-icon i {
            color: #d21e2b;
            font-size: 20px;
        }

    .feature-box-4 h4 {
        margin-bottom: 0px;
    }

    .section-heading-line-left {
        margin-top: 1px;
        margin-bottom: 4px;
    }

    .feature-box-4-link {
        color: #222;
        font-size: 10px;
        font-weight: 500;
        display: inline-block;
        margin-top: 0px;
    }

    
</style>
<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>PAPERS FOR @Model.PaperCategory.Title</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">@Model.PaperCategory.Title</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <h3>PAPERS FOR @Model.PaperCategory.Title</h3>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-12 col-6">
            </div>
            <div class="col-md-4 col-sm-12 col-6">

                <form asp-page="./PaperList" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchString" placeholder="@Model.CurrentFilter" style="border: 2px solid #d21e2b;">
                        <div class="input-group-btn">
                            <button class="btn btn-default btnn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <p style="text-align:center;">
                    <i>Page Number (@Model.PageIndex of @Model.TotalPage)</i>
                </p>
            </div>
        </div>

        <div class="row">
            @foreach (var x in Model.Papers)
            {
                <div class="col-md-6 col-sm-12 col-6">
                    <div class="feature-box-4">
                        <div class="feature-box-4-icon">
                            <i class="fa fa-check-square"></i>
                        </div>
                        <div class="feature-box-4-content">
                            <h4>Topic:</h4>
                            <h5 style="height:70px;">@x.Title</h5>
                            <div class="section-heading-line-left"></div>
                            <h4 style="font-size: 0.9rem; font-weight: 900;">
                                @x.Participant.Fullname (SEC @x.Participant.SEC.Number - @x.Participant.SEC.Year)

                            </h4>
                         </div>
                        @*<i class="feature-box-4-icon-bg icon-worldwide2"></i>*@
                    </div>
                </div>

            }
        </div>
        @{
            var prevDisabled = !Model.Papers.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Papers.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./PaperList"
           asp-route-pageIndex="@(Model.Papers.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="primary-button button-sm mb-15-xs @prevDisabled">
            Previous
        </a>
        <a asp-page="./PaperList"
           asp-route-pageIndex="@(Model.Papers.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="primary-button button-sm mb-15-xs @nextDisabled">
            Next
        </a>
        <i>Page Number (@Model.PageIndex of @Model.TotalPage)</i>
    </div>
</div>